doctype html
html
    include includes/head.pug
    body.client
        .wrapper
            header.header
                img.header__cross(src='/static/assets/images/favicon-black.png')
                h1.header__title #{title}
            main
                iframe(
                src="https://open.spotify.com/embed/show/3pI3bUliAkiokzSnN9fFHF"
                width="100%"
                height="380"
                frameborder="0"
                allowtransparency="true"
                allow="encrypted-media"
                )
                h2.sermon-archive__header
                    ='Pozostałe podcasty'
                ul.sermons
                    each el, i in sermonsDb
                        li.sermon
                            h2.sermon__title #{el.title} - #{el.series} #{el.part}
                            p.sermon__content
                                audio(controls)
                                    source(src=S3 + el.file)

            section.sermons-archive-section
                h2.sermon-archive__header
                    ='Archiwum'
                ul.sermons-archive
                    each el, i in sermonsArchiveDb
                        li.sermon-archive
                            h2.sermon-archive__title #{el.title}
                            p.sermon-archive__content
                                audio(controls)
                                    source(src=S3 + el.file)

        include includes/foot.pug
        script.
            let uid = Math.random().toString(36).substring(2);
            console.log(uid);